html{
    min-width: 500px;
    overflow: scroll;
}

body{
    margin: 0px;
}

li{
    margin-bottom: 20px;
}
#startPage{
    width: 100vw;
    height: 100vh;
    margin: none;
    background-image: url("https://img.freepik.com/free-vector/abstract-gray-stripes-background_1035-19089.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
#mainGamePage{
    margin: 20px;
}

#startPageImage{
    width: auto;
    height: 150px;
    margin-bottom: 150px;
}

#gameCustomisationButtons{
    background-color: whitesmoke;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    border: 4px solid rgb(226, 226, 226);
}

#definingNoRowsNColumns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#numberRowsForm, #numberColumnsForm{
    background-color: rgb(149, 149, 149);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 20px 20px 10px 10px;
    margin: 10px;
    border: 6px ridge rgb(132, 142, 155);
}

#numberColumnsLabel, #numberRowsLabel{
    margin-bottom: 8px;
    font-family: boardSizeButtonsFont, cursive;
    font-size: 20px;
    color: rgb(29, 4, 0);
    background-color: rgb(122, 122, 122);
    border-radius: 10px;
    text-align: center;
    padding: 5px 10px 0px 10px;
    border: 2px solid rgb(144, 144, 144);
}

#numberRowsDropdown, #numberColumnsDropdown{
    background-color: rgb(207,189,4);
    padding: 4px;
    border-radius: 10px;
    border: 2px solid rgb(75, 75, 75);
}

/* remove blue and white outline when selecting option  */
#numberRowsDropdown:focus, #numberColumnsDropdown:focus{
    outline: none;
}

#gamePage{
    display: flex;
    justify-content: center;
    align-items: center;
}

#playGameButton{
    border-radius: 20px;
    padding: 10px 25px 10px 25px;
    font-size: 32px;
    margin-top: 20px;
    width: 115px;
    height: 62px;
    background-color: rgb(246,246,246);
    border: 2px solid black;
    font-family: startPageButtonFont, cursive;
    
}

#inputForFirstPlayersName, #inputForSecondPlayersNameOne, #inputForSecondPlayersNameTwo{
    font-family: boardSizeButtonsFont, cursive;
    color: rgb(58, 42, 39);
}

#inputForSinglePlayerName{
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}

#inputForMultiPlayerNameOne{
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}

#inputForMultiPlayerNameTwo{
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}

#connect4Title{
    margin-bottom: 40px;
    text-align: center;
    font-family: Connect4TitleFont, 'Times New Roman', Times, serif;
    color:rgb(53, 154, 217);
    margin: 0px 5px 0px 5px;
    padding: 15px;
    border-radius: 25px;
    border: 6px double grey;
    background-color: white;
    background-image: url("https://t3.ftcdn.net/jpg/04/06/93/82/360_F_406938253_AneDCdBsJJic1FpXtQFG929pNAV9m0wm.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(26, 48, 92);
    height: 80px;
    font-size: 72px;
    font-weight: 1000;
    width: 300px;
}

#mainBoard{
    background-color: rgb(1, 1, 164);
    border-radius: 10px; 
    padding: 8px;
    margin-bottom: 60px;
}

#player1Background{
    background-color: red;
}

#player2Background{
    background-color: yellow;
}


#divForArrow{
    height:80px;
    margin-bottom: 10px;
    display: flex;
    justify-content:space-around;
    padding: 8px;
}

#topBarDivs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redBorder{
    border: 3px solid rgb(164, 8, 8);
}

.yellowBorder{
    border: 3px solid rgb(215, 193, 70);
}

#backgroundMusic, #placeTokenEffect, #columnFullEffect {
    display: none
}

#playSoundButton, #stopSoundButton{
    width:30px;
    height: 30px;
}

#soundButtons{
    border: 2px solid rgb(60, 117, 231);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(162, 229, 255);
}

#titleNLines{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#topScreenButtons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background-color: rgb(0, 29, 115);
    border-radius: 30px;
    border-top: 10px double rgb(165, 196, 210);
    border-bottom: 10px double rgb(165, 196, 210);
    flex-wrap: wrap;
    overflow: hidden;
}

#soundNinstructions, #resetNBack{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#soundButtons, #resetGameButton {
    margin-left: 3px;
}

#instructions, #backToMainPageButton{
    margin-right: 3px;
}

#instructions{
    height: 30px;
    width: 60px;
    border: 2px solid rgb(60, 117, 231);
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 229, 255);
    font-family: buttonFont,'Courier New', Courier, monospace;

}

.titleLines{
    width: 18vw;
    margin: 10px;
    border-top: 8px dotted red;
    border-bottom: 8px dotted yellow;
}
#resetGameButton{
    background-color: transparent;
    border: 2px solid rgb(60, 117, 231);
    border-radius: 10px;
    padding: 10px;
    height: 40px;
    width: 60px;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 229, 255);
    font-family: buttonFont,'Courier New', Courier, monospace;
}

#backToMainPageButton{
    font-size: 18px;
    background-color: transparent;
    border: 2px solid rgb(60, 117, 231);
    border-radius: 10px;
    padding: 10px;
    height: 40px;
    width: 50px;
    background-color: rgb(162, 229, 255);
    font-family: buttonFont,'Courier New', Courier, monospace;
}

#gameRules{
    margin-left: 100px;
    border-left: 7px solid rgb(184, 196, 222);
    padding: 5px 0px 5px 30px;
    border-radius: 5px;
    background-color: rgb(248, 248, 250);
}

.gameRulesTitle{
    font-family: howToPlayHeadersFont, 'Courier New', Courier, monospace;
    color: rgb(41, 41, 109);
}

.gameRulesText{
    font-family: howToPlayFont, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(2, 50, 133);
}

#winnerPage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#winningText{
    font-size: 64px;
    font-family: URW Chancery L, cursive;
    border: 10px double blue;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#displayedScores, #optionButtons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#optionButtons{
    margin: 100px 200px 100px 200px;
    border: 5px solid rgb(9, 27, 80);
    background-color: rgb(0, 0, 164);
    border-radius: 30px;
    padding-left: 80px;
    padding-right: 80px;
}
    

#player1Score{
    font-size: 96px;
    color: rgb(164, 8, 8);
    margin: 30px;
    white-space: nowrap;
}

#player2Score{
    font-size: 96px;
    color: rgb(215, 193, 70);
    margin: 30px;
    white-space: nowrap;
}

#player1Score, #player2Score{
    font-size: 32;
    font-family: Apple Chancery, monospace;
}

#optionPlayAgain, #optionBackToMainPage{
    font-family: Courier New, sans-serif;
    color: rgb(10, 33, 70);
    font-weight: 550;
    background-color: rgb(92, 129, 185);
    border: 8px double rgb(23, 53, 113);
    border-radius: 10px;
    margin: 40px;

}

#optionPlayAgain{
    height: 110px;
    width: 180px;
    font-size: 28px;

}

#optionBackToMainPage{
    height: 110px;
    width: 200px;
    font-size: 20px;
}

#TypeOfGameTitle{
    font-family: typeOfGameFont, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: none;
    background-color: rgb(246,246,246);
    border: 3px solid rgb(180,180,172);
    border-radius: 25px;
    padding: 8px;
    color: rgb(61, 71, 81);
}

#typeOfGameDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(202, 207, 210);
    width: 200px;
    height: 100px;
    border-radius: 25px;
    padding: 20px;
    padding-bottom: 30px;
    border: 4px solid rgb(237,61,68);

}

.columnFullStyling{
    font-family: otherGeneralFont, Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    font-size: 24px;
}

/* switch button design from (https://www.youtube.com/watch?v=vfFSoTvJsV4) */
    .typeOfGame{
        position: relative;
        width: 200px;
        height: 50px;
        border-radius: 25px;

    }

    .typeOfGame input {
        appearance: none;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background-color: rgb(8, 14, 33);
        outline: none;
    }

    .typeOfGame input::before,
    .typeOfGame input::after {
        z-index:2;
        position: absolute;
        top: 56%;
        transform: translateY(-50%);
        font-weight: bolder;
    }

    .typeOfGame input::before{
        content: "Single";
        left: 20px;
        font-family: boardSizeButtonsFont, Verdana, sans-serif;
    }

    .typeOfGame input::after{
        content: "Multi";
        right: 20px;
        font-family: boardSizeButtonsFont, Verdana, sans-serif;
    }

    .typeOfGame input:checked{
        background-color: rgb(207,189,4);
    }

    .typeOfGame label {
        z-index: 1;
        position: absolute;
        top: 10px;
        bottom: 4px;
        border-radius: 20px;
    }

    .typeOfGame input{
        transition: 0.25s;
    }

    .typeOfGame input:checked::after, 
    .typeOfGame input:checked::before{
        color: white;
        transition: color 0.5s;
    }

    .typeOfGame input:checked+label{
        left: 10px;
        right: 100px;
        background-color: rgb(8, 14, 33);
        transition: left 0.5s, right 0.4s 0.2s;

    }

    .typeOfGame input:not(:checked){
        background-color: rgb(8, 14, 33);
        transition: background-color 0.4s;
    }

    .typeOfGame input:not(:checked)::before{
        color: white;
        transition: color 0.5s;
    }

    .typeOfGame input:not(:checked)::after{
        color: #1E1E1E;
        transition: color 0.5s 0.2s;
    }

    .typeOfGame input:not(:checked)+label{
        left: 100px;
        right: 10px;
        background-color: rgb(207,189,4);
        transition: left 0.4s 0.2s, right 0.5s, background-color 0.35s;
    }

@font-face{
    font-family: Connect4TitleFont;
    src: url(fragileBombersAttack.otf);
}

@font-face{
    font-family: buttonFont;
    src: url(fragileBombersDown.otf);
}

@font-face{
    font-family: otherGeneralFont;
    src: url(fragileBombers.otf);
}

@font-face{
    font-family: startPageButtonFont;
    src: url(cheeseSmile.ttf);
}

@font-face{
    font-family: boardSizeButtonsFont;
    src: url(greenSmile.ttf);
}

@font-face{
    font-family: typeOfGameFont;
    src: url(theBeatrik.ttf);
}

@font-face{
    font-family: howToPlayHeadersFont;
    src: url(omegle.ttf);
}

@font-face{
    font-family: howToPlayFont;
    src: url(neon.ttf);
}



/* fireworks effect from (https://jsfiddle.net/elin/7m3bL/) */
.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: -120px -218.66667px blue, 248px -16.66667px #00d9ff, 190px 16.33333px #0055ff, -113px -308.66667px #5179de, -109px -287.66667px #324f81, -50px -313.66667px #509891, 226px -31.66667px #597895, 180px -351.66667px #0e2f63, -12px -338.66667px #00f6ff, 220px -388.66667px #004cff, -69px -27.66667px #ff0400, -111px -339.66667px #082386, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #f1f73c, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #00ffd0, 168px -100.66667px #ff0d00, -244px 24.33333px #83f8f8, 97px -325.66667px #006765, -211px -182.66667px #00ffe1, 236px -126.66667px #3f9fff, 140px -196.66667px #004cff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #fff700, 36px -78.66667px #00c8ff, -63px -196.66667px #1500ff, -218px -227.66667px #ffff00, -134px -377.66667px #00e5ff, -36px -412.66667px #00aeff, 209px -106.66667px #00fff2, 91px -278.66667px #0022ff, -22px -191.66667px #ff003c, 139px -392.66667px #002660, 56px -2.66667px #ffec5f, -156px -276.66667px #00d5ff, -163px -233.66667px #00fffb, -238px -346.66667px #3a3d63, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #fffa6f, 141px -208.66667px #5c9bff, 211px -285.66667px #0011ff, 181px -128.66667px #1e00ff, 90px -123.66667px #008cff, 189px 70.33333px #00fbff, -18px -383.66667px #ffff00, 100px -6.66667px #ff0000;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
    from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-moz-keyframes bang {
    from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-o-keyframes bang {
    from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-ms-keyframes bang {
    from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@keyframes bang {
    from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-webkit-keyframes gravity {
    to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-moz-keyframes gravity {
    to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-o-keyframes gravity {
    to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-ms-keyframes gravity {
    to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@keyframes gravity {
    to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-webkit-keyframes position {
    0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

    20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

    40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

    60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

    80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
    0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

    20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

    40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

    60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

    80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
    0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

    20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

    40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

    60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

    80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
    0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

    20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

    40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

    60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

    80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
    0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

    20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

    40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

    60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

    80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }